<div class="panel panel-info">
  <div class="panel-body">
    Choose the way your device will communicate with SmartAnthill.
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="form-group" show-form-errors>
      <label class="control-label">Connection URI</label>
      <input
        type="text"
        name="netrouter"
        class="form-control"
        placeholder="How device will be connected to SmartAnthill?"
        required
        ng-model="vm.device.connectionUri"
        ng-pattern="/^serial\:\/\/[^\?]+(\?(\&?[a-z]+=[^\:]+)+)?$/"
        tooltip="Examples: serial:///dev/ttyUSB0, serial://COM1?baudrate=9600"
        tooltip-placement="right">
    </div>
  </div>
</div>

<div id="pagination-wrapper" class="text-center">
  <a ui-sref="{{ vm.steps[0].name }}"
     class="btn btn-default pull-left margin-v-20">Previous</a>
  <span ng-include src="'views/device-add-pagination-items.html'"></span>
  <a ui-sref="{{ vm.steps[2].name }}"
     ng-class="{disabled: !vm.steps[1].completed()}"
     class="btn btn-primary pull-right margin-v-20">Next</a>
</div>
