<div class="jumbotron">
  <h2>All done!</h2>
  <p>
    You are ready to register new device in SmartAnthill System. More detailed information about configured settings, board
    perepherial and etc. will be shown on <span class="has-tooltip" tooltip="You will be redirected there right after you press Submit button.">the next page</span> after submitting.
  </p>
  <p>
    Also, on the next step you need to generate special firmware for this
    device using <code>TrainIt!</code> wizard. Don't forget that you will have
    to use <code>TrainIt!</code> each time when add/remove body parts or
    modify configuration of any body part.
  </p>
  <p>
    <div id="submit-wrapper" class="text-center">
      <button ng-click="vm.submit()"
              ng-disabled="vm.disableSubmit || !vm.steps[2].completed()"
              class="btn btn-primary btn-lg">
        Add device
      </button>
    </div>
  </p>
</div>

<div id="pagination-wrapper" class="text-center">
  <a ui-sref="{{ vm.steps[2].name }}"
     class="btn btn-default pull-left margin-v-20">Previous</a>
  <span ng-include src="'views/device-add-pagination-items.html'"></span>
  <a href class="btn btn-primary pull-right margin-v-20 disabled">Next</a>
</div>
