<div class="modal-header">
  <h3 class="modal-title">Run {{ vm.bodyPart.name }} on {{ vm.device.name }}</h3>
</div>

<div class="modal-body">

  <div class="well">{{ vm.plugin.description }}</div>

  <h4 ng-show="vm.plugin.request_fields.length">Request fields:</h4>
  <form name="bodyPartFieldsForm" novalidate role="form">
    <div class="form-group" ng-repeat="field in vm.plugin.request_fields" ng-switch on="field.type | optionTypeToInputType" show-form-errors>
      <label class="control-label"><code>{{ field.name }}</code><span ng-show="field.title"> - {{ field.title }}</span></label>
      <div ng-if="!field._values" ng-switch on="field.type | optionTypeToInputType">
        <input ng-switch-when="text"
               type="text"
               name="{{ field.name }}"
               class="form-control"
               required
               ng-model="vm.requestFields[field.name]">
        <input ng-switch-when="number"
               type="number"
               name="{{ field.name }}"
               class="form-control"
               required
               min="{{ field.min }}"
               max="{{ field.max }}"
               ng-model="vm.requestFields[field.name]">
      </div>
      <div ng-if="field._values">
        <select name="{{ field.name }}"
                class="form-control"
                ng-model="vm.requestFields[field.name]"
                ng-options="value as value.title for value in field._values">
        </select>
      </div>
    </div>
  </form>

  <pre>{{ vm.requestFields | json }}</pre>

  <div class="bodyPartResponse" ng-show="vm.responseContent">
    <h4>Response:</h4>
    <pre>{{ vm.responseContent | json }}</pre>
  </div>

  <span class="help-block">Fill request fields (if any) and press "Run" button to run Body Part.</span>

</div>

<div class="modal-footer">
  <button class="btn btn-link" ng-click="vm.closeModal()">Close</button>
  <button class="btn btn-primary" ng-click="vm.runBodyPart()" ng-disabled="vm.runDisabled || (!bodyPartFieldsForm.$valid || !vm.plugin.request_fields)">Run</button>
</div>
