<div class="modal-header">
  <h3 class="modal-title">Body Part</h3>
</div>

<div class="modal-body">

  <div ng-show="vm.selectPlugin.selected" class="well">
    {{ vm.selectPlugin.selected.description }}
  </div>

  <form name="bodyPartForm" ng-submit="vm.submitForm()" novalidate role="form">
    <div class="form-group" ng-class="{'has-success': vm.selectPlugin.selected}">
      <label class="control-label">Plugin</label>
      <ui-select ng-model="vm.selectPlugin.selected" theme="bootstrap">
        <ui-select-match required placeholder="Select or search a plugin in the list...">{{$select.selected.name}}</ui-select-match>
        <ui-select-choices repeat="item in vm.plugins | filter: $select.search">
          <b><div ng-bind-html="item.name | highlight: $select.search"></div></b>
          <small ng-bind-html="item.description | highlight: $select.search"></small>
        </ui-select-choices>
      </ui-select>
    </div>

    <div ng-if="!vm.wizardMode" class="form-group" show-form-errors>
      <label class="control-label">Name</label>
      <input
        type="text"
        name="bodypart_name"
        class="form-control"
        placeholder="Enter Body Part name"
        required
        ng-model="vm.item.name"
        ng-pattern="/^(?![0-9])[a-z0-9\_]+$/i"
        tooltip="Examples: Led_1, Servo, Valve, Temp_Sensor (allowed chars: [a-z0-9_], first character can't be numeric)"
        tooltip-placement="right">
    </div>

    <div class="form-group" ng-repeat="pin in vm.selectPlugin.selected.peripheral" show-form-errors>
      <label class="control-label">{{ pin.title }}</label>
      <select name="{{ pin.name }}" class="form-control" required ng-model="vm.item.peripheral[pin.name]" ng-options="item.id as item.name for item in vm.boardPins">
      </select>
    </div>

    <div class="form-group" ng-repeat="option in vm.selectPlugin.selected.options" show-form-errors>
      <label class="control-label">{{ option.title }}</label>
      <div ng-if="!option._values" ng-switch on="option.type | optionTypeToInputType">
        <input ng-switch-when="text"
               type="text"
               maxlength="{{ option.type | maxCharLength }}"
               name="{{ option.name }}"
               class="form-control"
               required
               ng-model="vm.itemOptions[option.name]">
        <input ng-switch-when="number"
               type="number"
               min="{{ option | minNumberOptionValue }}"
               max="{{ option | maxNumberOptionValue }}"
               name="{{ option.name }}"
               class="form-control"
               required
               ng-model="vm.itemOptions[option.name]"
               tooltip="Min: {{ option | minNumberOptionValue }}. Max: {{ option | maxNumberOptionValue }}"
               tooltip-placement="right">
      </div>
      <div ng-if="option._values">
        <select name="{{ option.name }}"
                class="form-control"
                ng-model="vm.itemOptions[option.name]"
                ng-options="value as value.title for value in option._values">
        </select>
      </div>
    </div>
  </form>

</div>

<div class="modal-footer">
  <button class="btn btn-link" ng-click="vm.cancel()">Cancel</button>
  <button class="btn btn-primary" ng-click="vm.save()" ng-disabled="bodyPartForm.$invalid || !vm.selectPlugin.selected">Save</button>
</div>
