<div class="panel panel-info">
  <div class="panel-body">
    <p>Body parts are the main structure unit of devices. Each body part has a
    plugin which allows to perform some specific actions.</p>
    <p>Keep in mind that some plugins require presence of specific hardware.</p>
    <p>You may want to get started by creating body parts with
      <code>Blink</code> or <code>Write to Digital pin</code> plugins.</p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div ng-controller="DeviceEditBodyPartsController as bodyPartsVm"
         ng-include src="'views/device-edit-bodyparts.html'"></div>
  </div>
</div>

<div id="pagination-wrapper" class="text-center">
  <a ui-sref="{{ vm.steps[1].name }}"
     class="btn btn-default pull-left margin-v-20">Previous</a>
  <span ng-include src="'views/device-add-pagination-items.html'"></span>
  <a href class="btn btn-primary pull-right margin-v-20 disabled">Next</a>
</div>

<div id="submit-wrapper" class="text-center">
  <span ng-show="vm.steps[2].completed()">All done! You can now proceed adding
    body parts or press</span>
  <button ng-click="vm.submit()"
          ng-disabled="vm.disableSubmit || !vm.steps[2].completed()"
          class="btn btn-primary btn-lg">
    Submit
  </button>
  <span ng-show="vm.steps[2].completed()">to save the device. You will be able
    to edit device and add more body parts later.</span>
</div>
