<h1>Settings</h1>

<form name="settingsForm" ng-submit="vm.submitForm()" role="form">

  <section id="general">
    <div class="page-header">
      <h2>General</h2>
    </div>
    <div class="form-group">
      <label class="control-label">Logger level</label>
      <select name="compiler" class="form-control" ng-model="vm.settings.logger.level" ng-options="level for level in vm.validLoggerLevels">
      </select>
    </div>

    <div class="form-group">
      <label class="control-label">Compiler</label>
      <select name="compiler" class="form-control" ng-model="vm.settings.compiler">
        <option value="http://cc.smartanthill.org">SmartAnthill Cloud Compiler</option>
        <option value="">Local Compiler</option>
      </select>
      <span class="help-block" ng-if="!vm.settings.compiler">
        <b>* Local Compiler</b> (based on <a href="http://platformio.org" target="_blank">PlatformIO</a>) can take a few minutes for the first firmware building. PlatformIO will install/download required tool chains, frameworks and upload tools. Henceforth <b>"Train It"</b> (firmware building wizard) can work in off-line mode.
      </span>
    </div>
  </section>

  <section>
    <div class="page-header">
      <h2>LiteMQ</h2>
    </div>
    <div class="form-group">
      <label class="control-label">resend_delay</label>
      <input type="number"
             class="form-control"
             ng-model="vm.settings.services.litemq.options.resend_delay">
    </div>
    <div class="form-group">
      <label class="control-label">resend_max</label>
      <input type="number"
             class="form-control"
             ng-model="vm.settings.services.litemq.options.resend_max">
    </div>
  </section>

  <section>
    <div class="page-header">
      <h2>API</h2>
    </div>
    <div class="form-group">
      <input type="checkbox"
             ng-model="vm.settings.services.api.enabled">
      <label class="control-label">API enabled</label>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Enabled/Disabled</th>
          <th>Type</th>
          <th>Port</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="(api_name, api_config) in vm.settings.services.api.options">
          <td>
            <input type="checkbox"
                   ng-model="api_config.enabled">
          </td>
          <td>{{ api_name }}</td>
          <td class="form-group">
            <input type="number"
                   class="form-control"
                   ng-model="api_config.port">
          </td>
        </div>
      </tbody>
    </table>
  </section>

  <button type="submit" class="btn btn-primary">Submit</button>
  <button type="button" class="btn btn-link" ng-click="vm.resetForm()">Reset</button>
</form>
